<div class="clear-absolute"></div>
<div class="container">
  <%= render partial: 'shared/error_messages', locals: {resource: @participation} %>

  <div class="text-center">
    <h2 class="text-center">Register for this Event !</h2>
  </div>
    <%= render partial: 'events/card_presentation_panel', locals: { event: @event, amount: @amount } %>
  <% if @event.is_free? %>
    <div class="text-center mt-3">
      <%= link_to 'Join Now', participations_path(event_id: @event.id), method: :post, class:'btn btn-lg btn-primary' %>
    </div>
  <% else %>
    <%= form_tag participations_path, method: :post, class:"text-center" do %>
      <%= hidden_field_tag "event_id", @event.id %>
      <article>
        <%# <label class="amount"> %>
          <%# <span><%= pretty_amount(@amount) %>
        <%# </label> %>
      </article>
      <script src="https://checkout.stripe.com/checkout.js"
              class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-description="<%= @description %>"
              data-image="<%= url_for(@event.images.first)%>"
              <%# strip "talks" in cents %>
              data-amount="<%= @amount %>"
              data-label="Register Now"
              data-currency="eur"
              data-email="<%= current_user.email %>"
              data-locale="auto">
      </script>
    <% end %>
  <% end %>
</div>
