<% commentable.comments.each_with_index do |comment, i| %>  
  <div class="media mb-4">
    <%= render partial: "users/user_avatar", locals: { user: comment.commenter, image_class: "d-flex mr-2 rounded-circle", size: "50x50" } %>
    <div class="media-body">
      <h5 class="mt-0 commenter-username d-inline-block"> <%= comment.commenter.username %></h5>
      <span class="text-muted ml-2"><%= time_ago_in_words(comment.created_at) %></span>
      <p><%= comment.content %></p>

      <a id="<%= i %>" class= "btn text-primary reply-btn">Reply</a>

      <!-- Reply Form  -->

      <div class="card-body" id="reply-form-<%= i %>" style='display:none;'>
        <%= render partial: "comments/form", locals: { commentable: comment } %>
        <a id="<%= i %>" class="btn btn-danger cancel-btn">Cancel</a>
      </div>

      <!-- Nested Comment -->

      <% comment.comments.each do |nested_comment| %>
        <div class="media mt-4">
          <%= render partial: "users/user_avatar", locals: { user: comment.commenter, image_class: "d-flex mr-2 rounded-circle", size: "50x50" } %>
          <div class="media-body">
            <h5 class="mt-0 commenter-username d-inline-block"><%= nested_comment.commenter.username %></h5>
            <span class="text-muted ml-2"><%= time_ago_in_words(nested_comment.created_at) %></span>
            <p><%= nested_comment.content %></p>
          </div>
        </div>
      <% end %>

    </div>
  </div>
<% end %>