<div class="row card-presentation-panel">

    <div class="col-lg-5">
        <%= render partial: "events/carousel", locals: { event: event } %>
    </div>

    <div class="col-lg-7">
      <div class="text-center">
        <h3><%= event.title %></h3>
      </div>
      <div class="event-details">
        <p><b>N° of participants</b>: <%= event.participants.count %></p>
        <p><b>Organised by</b>: <%= event.administrator.username %></p>
        <p><b>Starting</b>: <%= event.starting_date_time %></p>
        <p><b>Ending</b>: <%= event.ending_date_date_time %></p>
        <p><b>Location</b>: <%= event.location %></p>
        <p><b>Price</b>: <%= pretty_amount(amount) %></p>
      </div>
    </div>
    
</div>